<div class="container">
    <div class="user-header row-fluid">
        <div class="user-icon">
            <img class="img-user-icon" [src]="user?.avatar" />
        </div>
        <span class="user-name">{{ user?.name }}</span>
        <div class="user-stats">
            <div class="user-stat" style="padding-right: 8px;">
                <span class="user-stat-number">10</span>
                <span class="user-stat-label">Thread Posts</span>
            </div>
            <div class="user-stat" style="padding-left: 8px; padding-right: 8px">
                <span class="user-stat-number">10</span>
                <span class="user-stat-label">Comments</span>
            </div>
            <div class="user-stat" style="padding-left: 8px;">
                <span class="user-stat-number">10</span>
                <span class="user-stat-label">Profile Views</span>
            </div>
        </div>
    </div>
</div>